{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "comma-dangle": [2, "never"],
    "camelcase": 2,
    "comma-spacing": [2, { "before": false, "after": true }],
    "no-mixed-spaces-and-tabs": 2,
    "no-trailing-spaces": 2,
    "space-before-function-paren": [2, { "anonymous": "always", "named": "never" }],
    "space-in-parens": [2, "never"],
    "array-bracket-spacing": [2, "never"],
    "object-curly-spacing": [2, "always"],
    "space-infix-ops": 2,
    "no-var": 2
  }
}
