# Runtime data
pids
*.pid
*.seed

# Dependency directory
node_modules

# Project
.idea
*.iml
.DS_Store

# Webpack bundlejs
**/bundle.js

# Assets
**/*.woff
**/*.woff2
**/*.eof
**/*.eot
**/*.ttf
**/*.svg

# Mongodb
data/
