a:hover {
  text-decoration: none;
}

.order-entry .entry-status,
.entries .entry-action {
  vertical-align: middle
}

.orders-filter {
  margin-bottom: 40px;
}

.order h3 {
  color: black;
}

.entry-action {
  text-align: right;
}

.open-entries {
  min-height: 100%;
}

.open-entry {
  text-align: center;
  height: 30vh;
}

.confirmation {
  text-align: center;
}
